<h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p>


<% #USE TO CHECK IF LOGGED IN (WORKS ANYTWHERE) %>
<% if log_check %>
  <h1>LOGGED IN AS: <%= current_account.username %></h1>
<%end%>

<% #LOGIN AND SIGNUP BUTTONS %>
<%= button_to "LOGIN", '/login', method: :get%>
<%= button_to "SIGNUP", '/accounts/new', method: :get%>
