<h1>Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Meeting Title</th>
      <th>Meeting Start Time</th>
      <th>Meeting End Time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.title %></td>
        <td><%= meeting.start_time.to_formatted_s(:short) %></td>
        <td><%= meeting.end_time.to_formatted_s(:short) %></td>
        <td><%= link_to "Show Records", attendance_records_path(meeting_id: meeting.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
