<% if notice %>
  <%= render partial: "shared/modal", locals: {title: "Notice", content: [notice]} %>
<% end %>

<p>
  <strong>Excuse for <%= @excuse.attendance_record.meeting.title %> Meeting</strong>
</p>

<p>
  <strong>Status:</strong>
  <%= @excuse.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @excuse.reason %>
</p>
