<p id="notice"><%= notice %></p>

<p>
  <strong>Senator:</strong>
  <%= @user.name %>
</p>

<% if current_user&.admin? %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<% end %>

<%= link_to 'Back', :back %>
