<div id="MODALID" >
    <div class="modal fade show in">
        <div class="modal-dialog">
            <div class="v-cell">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="KILLMODAL()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title"><%= title %></h4>
                    </div>
                    <div class="modal-body">
                        <% content.each do |string| %>
                            <%= string %>
                            <br>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="KILLMODAL()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>