<div class="AggieScheduleBar">
	<p>AGGIE SENATE</p>
</div>

<div class="navigationBar">
    <% if logged_in? %>
        <%= link_to "Logout", "/logout", method: :post %>
    <% else %>
        <%= link_to "Login", "/login" %>
    <% end %>
</div>