<table class="table">
  <thead>
    <tr>
      <th scope="col">Committees</th>
      <th scope="col">Meeting</th>
      <th scope="col">Attendance Status</th>
    </tr>
  </thead>
  <tbody>
     <% @records.each do |record| %>
    <tr>
      <td><%= record.meeting.committee.committee_name %></td>
      <td><%= record.meeting.title %></td>
      <td><%= record.attended%></td>

    </tr>
    <% end %>
  </tbody>
</table>
