<% # this file is shown to the user that is logged in  %>
<% if @show_signin %>
    <%= form_with url: "dashboard/meeting_signin", method: :post do |form|%>
        <%= form.submit "Sign In" %>
    <% end %>
<% end %>
<p>Hi ima user</p>