<div class="AggieScheduleBar">
	<p>AGGIE SENATE</p>
</div>

<div class="navigationBar">
  <a href="login.html">Log In</a>
  <a href="logout.html">Log Out</a>
</div>


<% # this file is shown to the administrator when they select a meeting  %>
<h2> Showing Attendance Record Details</h2>

<td> <%= link_to "Back to Administrator Page", :back %> </td>

<table>
    <thead>
        <tr>
            <th>User Name: </th>
            <th>Attended: </th>
        </tr>
    </thead>
    <tbody>
        <% @records.each do |record| %>
            <td> <%= record.committee_enrollment.user.name %></td>
            <td> <%= record.attended %></td>
        <% end %>
    </tbody>
</table>

<div class="footer">
	<p>aggiesenate</p>
</div>
