<%= link_to 'Go Back', :back %>
<div class="action delete">


    <h2>Delete Committee</h2>

        <%= form_for(@committee, :method => 'delete') do |f| %>
        <p> Are you sure you want to delete this subject</p>

        <p class = "reference-name"> <%= f.object.committee_name%> </p>

        <div class="form-button">
            <%= f.submit("Delete Committee") %>
        </div>

    <% end %>
</div>
