<%= form_with model: @committee do |form| %>
  <%= form.text_field(:committee_name) %>
  <br>
  <p>Users in Committee:</p>
  <%= form.collection_check_boxes :user_ids, User.all, :id, :name %>
  <br>
  <%= form.submit("Update Committee") %>
<% end %>