<h1>Update Committtee</h1>
<div class="action edit">

    <%= link_to 'Go Back', :back %>
    <%= form_for(@committee) do |f| %>


    <table>
        <tr>
            <th>Committee Name</th>
            <td> <%= f.text_field(:committee_name) %></td>
        </tr>

    </table>

    <div class="form-button">
        <%= f.submit("Update Committe") %>
    </div>
    <% end %>


</div>
