<div class="action show">
    <h2>Show Committee</h2>
    <%= <%= link_to 'Go Back', :back %> %>
    <table summary = "Committe details">
        <tr>

            <th>Committee Name </th>
            <td> <%= @committee.committee_name %></td>

        </tr>

    </table>

</div>
