.navbar {
  background-color: #333333;
  color: #3C0000;
}
.navbar .navbar-brand {
  font-size: 25px;
  font-family: "Georgia", Times, serif;
  color: #f6f6f6;
}

.navbar .navbar-nav {
  background-color: #333333;
}
.navbar-nav .nav-link{
  color: #f6f6f6;
}


nav .navbar-nav li a{
  color: #f6f6f6 !important;
}
nav .navbar-nav li a:hover{
  color: #333333 !important;
}
nav .navbar-nav li a:active{
  color: #333333 !important;
}
nav .navbar-nav li a:focus{
  color: #333333 !important;
}


.navbar-custom {
  background-color: #3C0000;
  padding-top: -2px;
  padding-bottom: -2px;
}
.navbar-custom .navbar-nav {
  background-color: #3C0000;
  font-size: 10px;
}


.modal-header {
  color: #f6f6f6;
  background-color: #3C0000;
}

.btn {
  outline: none !important;
  outline-color: #333333;
  color: #f6f6f6;
  background-color: #3C0000;
  box-shadow: none;
}
.btn:hover {
  color: #333333;
  background-color: #f6f6f6;
}
.btn:focus,.btn:active {
  color: #333333;
  background-color: #f6f6f6;
  outline: none !important;
  box-shadow: none;
}

.tSpaceMid {
  padding-left: 5px;
  padding-right: 5px;
}
.table {
  background-color: #f6f6f6;
}
.table-thead {
  background-color: #3C0000;
}
th {
  background-color: #3C0000;
  color: white;
}

.panel > .panel-heading {
  background-color: #3C0000;
  color: white;
}
